[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
huggingface-hub = "==0.27.0"
langchain = "==0.3.12"
langchain-community = "==0.3.12"
langchain-core = "==0.3.63"
langchain-huggingface = "==0.1.2"
langchain-text-splitters = "==0.3.8"
streamlit = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
unstructured = "*"
pypdf = "*"
python-docx = "*"
python-dotenv = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
